[2015-03-25 22:35] Nodd opened #1 "Confirmation popup"
Right now the confirmation popup is divided in 4 parts, similar to conda command line interface. Most of the time the same package appear in multiple sections. I think it doesn't work well with a gui, I would expect a table indicating for each package what action will be performed (uninstall, unlink, download...).

This is a relocation of https://github.com/spyder-ide/spyder/issues/2133

(BTW, wha

[2015-03-25 22:37] Nodd opened #2 "Installing multiple packages"
Currently each action is separate. To install multiple packages you have do install one, wait for installation, install another, wait for installation... A better workflow would be that instead of installing right away, clicking on a button would mark the package to be installed, then a button "apply" would have to be clicked in order to actually do the install, allowing to select multiple package

[2015-03-25 22:38] Nodd opened #3 "Closing spyder while installing packages"
Steps to reproduce:
1. Install some package
2. Close spyder while the installation is running

There should at least be a "are you sure ?" kind of warning when closing spyder. I didn't have the time to check if the installation continued correctly in the background, but if it is not the case it can potentially break anaconda.

Relocated from https://github.com/spyder-ide/spyder/issues/2131

[2015-03-25 22:38] goanpeca commented on #1
I did work, that does not mean I finished! haha

Shit happens :sweat_smile: ?

[2015-03-25 22:39] Nodd opened #4 "Merge install/remove columns"
There are currently two separate columns for isntall and remove. These actions are mutually exclusive, so they could be merged into one to gain some horizontal space and lower the interface clutter. The different icons with different colors sould be more thn enough to distinguish between the two actions.

Relocated from https://github.com/spyder-ide/spyder/issues/2130

[2015-04-09 23:37] ostrokach opened #5 "build error"
Is `conda-manager` working after it was migrated to a standalone package?

-------------------------

After chainging the `11th` line in `setup.py` from:

    with open("conda-manager/__init__.py") as f:

to:

    with open("conda_manager/__init__.py") as f:

I was able to install it.

However, running `conda-manager` from the command line, I get the following error:

      File "/home/username/an

[2015-04-10 07:50] goanpeca commented on #5
The package was migrated, but it is not (yet) operational. Sorry for the inconvenience

[2015-04-10 16:00] ccordoba12 commented on #5
@ostrokach, just run

[code]

to install `qtpy`, a dependency of `conda-manager`.

[2015-04-10 16:07] ostrokach commented on #5
@ccordoba12

Sorry, I had a typo in the original post. I ran `pip install qtpy`, not `pip install pyqt`, to fix the first error. `pyqt` was installed from the start, as it is included in the anaconda distro.

[2015-04-10 16:19] ccordoba12 commented on #5
@goanpeca, you should change your package's name :-) It's terribly confusing to have `pyqt` and `qtpy`.

[2015-04-11 17:10] #5 closed

[2015-05-28 16:31] goanpeca commented on #4
Done :-)  @Nodd

![image](https://cloud.githubusercontent.com/assets/3627835/7865291/c334530c-0567-11e5-8405-7e0df5f83596.png)

[2015-05-28 16:37] #4 closed

[2015-05-29 07:33] Nodd commented on #4
Nice !
`llvmmath` is not installable on your screenshot ?

[2015-05-29 08:03] goanpeca commented on #4
Hmmm i am on win with python 32 bits so maybe is that, have not checked!

[2015-05-29 10:49] goanpeca commented on #1
@Nodd In the case of packages being removed, what would you expect...

For instance lets say we install numpy 1.7 and remove 1.6

You would like to see

[code]

And in the case of multiple packages? always list first the ones to unlink? or on after the other?

[code]

or ?

[2015-05-29 11:11] Nodd commented on #1
How about a table ? Something like:

| Name | unlink | link | download | extract |
| --- | --- | --- | --- | --- |
| Numpy | 1.6 | 1.7 | 1.7 | 1.7 |
| Foo | 0.6 |  |  |  |
| Bar |  | 2.8 | 2.8 | 2.8 |

The best would be to indicate the number of bytes to download if the information is available.

[2015-05-29 11:14] goanpeca commented on #1
Good idea :), yes the size info is available.

As soon as I finish this one I will test your plugins PR, did you manage to fix the error you got?

[2015-05-29 11:24] Nodd commented on #1
Not yet, but I think having different spyder versions installed is a bit problematic (since `spyderplugins` in master is not a namespace plugin).

[2015-05-29 18:21] goanpeca commented on #2
I will try a proof of concept using checkboxes... I will have to modify some bits of the logic I had but I think is doable

[2015-05-31 11:30] goanpeca opened #6 "Use qtawesome icons"

[2015-09-13 18:51] goanpeca commented on #1
This is almost ready @Nodd :p

![conda](https://cloud.githubusercontent.com/assets/3627835/9838247/64e92870-5a1e-11e5-9271-7117c570a093.png)

The download column should have the size... (or be hidden when no package is going to be downloaded.) almost there...!

[2015-09-14 19:19] Nodd commented on #1
Gorgeous !
Looks like there is lots of space on left and right, is it from your theme ?

[2015-09-14 20:37] goanpeca commented on #1
Hmmm good point, I will check :p

[2016-01-05 15:07] martindurant opened #7 "Poor visuals in OS X"
On mac osx, icons and text do not fit
![image](https://cloud.githubusercontent.com/assets/6042212/12118391/2693c8b2-b394-11e5-850e-22b8e8b23dd6.png)

[2016-01-05 21:33] ccordoba12 commented on #7
@goanpeca, it seems you customized things for the Linux case only :-)

Related question: could we use `qtawesome` for the icons?

[2016-01-10 14:32] goanpeca opened #9 "Include pip packages in packages listing via icon"

[2016-01-10 14:32] goanpeca opened #10 "Include api to use environment by prefix and name in a consistent manner"

[2016-01-10 15:02] ccordoba12 commented on #9
But only for _installed_ packages with `pip`, right?

[2016-01-10 15:27] goanpeca commented on #9
Yes only installed.

I already did this and I am pushing soon, but wanted to keep track of the features.

It looks like this now :-), the remove button for `pip` packages (python logo) now displays a message saying that the feature is not (yet) implemented. I am working on a pip-api-q (akin to the conda-api-q)

![image](https://cloud.githubusercontent.com/assets/3627835/12222238/f4057984-b78c-11e5

[2016-01-10 15:31] ccordoba12 commented on #9
Fantastic! This is going to be a terrific addition to Spyder too!

[2016-01-10 17:03] goanpeca opened #11 "Display available versions on right click"

[2016-01-10 17:04] goanpeca commented on #6
@ccordoba12 should the conda manager always use qtawesome icons?, or should we query the spyder interface for the current theme? we would need to add a helper function so it can be easily used by plugins.

[2016-01-10 17:07] goanpeca commented on #2
@Nodd I have mixed feelings about this... although it is doable (I did a mini POC) it might lead to unpredictable behavior regarding the exact versions that will be installed.

I would rather make spyder meta packages for common use stuff.

`conda install spyder-essentials` would install all the spyder-ide maintained packages....

`conda install spyder-hydro`, `conda install spyder-bioinformatics`

[2016-01-10 17:10] goanpeca opened #12 "Question: Should all channels be merged into a single view?"
When conda installs something it dumps all packages in all the channels it has defined in a single pool and installs from there.

I do not really like this feature of conda, as there is no way to guarantee that a package is fetched from a particular channel (unless **only** that channel is used and all the needed dependencies live in that channel)

So the question is, looking a bit ahead:

* Shoul

[2016-01-10 17:11] goanpeca commented on #12
Both ways can be implemented in a straightforward way... so it is a matter of deciding what works best for the user.

[2016-01-10 18:25] ccordoba12 commented on #6
I think conda-manager should always use qtawesome icons, no matter what theme users have selected in Spyder.

[2016-01-10 18:28] ccordoba12 commented on #2
Let's keep things simple until:
1. conda-manager is well tested by users.
2. Users start to demand (loudly and frequently) this feature.

[2016-01-10 18:33] ccordoba12 commented on #12
I'm +1 for a combobox per channel. It feels cleaner and simpler to look at (from the UI/UX perspective :-)

[2016-01-10 18:39] martindurant commented on #12
I would like a list of checkable channels.

[2016-01-10 20:29] goanpeca commented on #12
@martindurant can you elaborate on this?

[2016-01-10 20:29] goanpeca commented on #2
:+1:

[2016-01-10 21:39] martindurant commented on #12
Like the following

Channels:
v  defaults
x  blaze
v  cluster
v  users/other-channel

Instead of filtering for one channel, you choose which channels are currently displayed. I think its more likely that a user will want to exclude one or two channels than to select only one channel. An "all" entry could of course be included.

[2016-01-10 23:43] goanpeca commented on #12
Ahhhh ok got it.

I will try to make a POC for both options and see if any problems arise.

I actually like @martindurant idea better :-) so I will give that one a go first

[2016-01-11 09:19] Nodd commented on #12
I never used more that one channel, but checkboxes look great.

[2016-01-11 09:23] Nodd commented on #2
@goanpeca I install multiple packages very often, and they're not related to spyder. Meta-package is a heavy option for a quick install of a few package. On the command line I can put multiple packages names after `conda install`, and I'd like to do the same with the interface.
Since there is a confirmation step, there would be no surprise regarding the package versions.

That said I agree about k

[2016-01-11 09:36] Nodd commented on #11
Be aware that some packages have lots of versions. If there is something else in the right clic menu, put the versions in a submenu.

[2016-01-11 09:38] Nodd commented on #9
Are you really able to remove them or the icon is just for show ?
Anyway, great addition ! How do you handle pip-installed packages that are available on conda ? It can easily happen when more packages are added to conda.

[2016-01-11 11:57] goanpeca commented on #9
right now the icon displays a not yet implemented message box but i will include the funxctionality

[2016-01-11 11:59] goanpeca commented on #11
agreed. but for now only rigt clicking on the version column will display the other versions

[2016-01-11 12:38] goanpeca commented on #9
@nodd..., if they have the exact same name, the pip package (if installed) will be displayed and the conda package will not. After removing the pip package the conda package will appear on the list. This is the option I considered the most natural so far (I have to make sure it is working like this though)

[2016-01-12 14:51] goanpeca commented on #3
Fixed by 17b8a670efcbbe8363176ba52b967b6b748766d9

[2016-01-12 14:51] #3 closed

[2016-01-12 14:51] goanpeca commented on #11
Fixed by 17b8a670efcbbe8363176ba52b967b6b748766d9

[2016-01-12 14:51] goanpeca commented on #9
Fixed by 17b8a670efcbbe8363176ba52b967b6b748766d9

[2016-01-12 14:51] #9 closed

[2016-01-12 14:52] goanpeca commented on #10
Fixed by 17b8a670efcbbe8363176ba52b967b6b748766d9

[2016-01-12 14:52] #10 closed

[2016-01-12 14:52] #11 closed

[2016-01-12 14:53] goanpeca commented on #7
@martindurant can you please check if this is fixed in the latest master?

I made some changes that might have fixed the issue.

[2016-01-17 14:51] goanpeca commented on #7
@martindurant?

[2016-01-17 14:56] martindurant commented on #7
I have branch master up to date with remote, and the problem persists.
I also needed to make some changes (const.CREATE) which were assumed by the calling code but weren't implemented - perhaps you haven't committed everything?

[2016-01-17 15:00] goanpeca commented on #7
i did some cleanup and might have forgotten about some places will fix now.

hmmm i will have ro look further into it the.

[2016-01-18 15:35] martindurant opened #14 "Mac OSX incorrectly identified as windows"
In packages.py, `'win' in system` also picks up `darwin`.

[2016-01-21 01:08] goanpeca commented on #1
@nodd ... finally!!

Pushing soon :-)

![image](https://cloud.githubusercontent.com/assets/3627835/12468427/8516ba38-bfb1-11e5-9fa5-e77c8cdfb845.png)

[2016-01-21 03:21] goanpeca commented on #12
![image](https://cloud.githubusercontent.com/assets/3627835/12470663/11617138-bfc4-11e5-8c84-2c9c8c371df4.png)

[2016-01-21 03:22] goanpeca opened #16 "Allow removal of pip packages listed in the environment"

[2016-01-21 03:25] #14 closed

[2016-01-21 03:26] goanpeca opened #17 "Add channels support"

[2016-01-21 03:26] goanpeca opened #18 "Add channel support by name and by URL"
This has been implemented as a fade out dialog

![image](https://cloud.githubusercontent.com/assets/3627835/12485012/de2af0de-c02a-11e5-9665-0b049fc7bad6.png)

@Discalced51, made a proposal like this one, like a "palette"
![image](https://cloud.githubusercontent.com/assets/3627835/12485031/f2460590-c02a-11e5-99d9-309692979a0b.png)

@ccordoba12, @martindurant, any thoughts?

[2016-01-21 03:54] goanpeca opened #19 "Add logging for debugging"

[2016-01-21 03:59] martindurant commented on #12
Looks good, PR it! I'll try to reuse it in my stuff, may have questions for you later.

[2016-01-21 15:39] martindurant commented on #18
I like the former solution, doesn't crowd the space unless required. In practice, I don't imagine people changing channels very often.

[2016-01-21 16:46] ccordoba12 commented on #18
I also like the first option too :-)

El 21/01/16 a las 10:39, Martin Durant escribió:

[2016-01-23 02:20] #18 closed

[2016-01-23 02:20] #17 closed

[2016-01-23 02:20] #12 closed

[2016-01-23 02:20] #16 closed

[2016-01-23 02:21] #7 closed

[2016-01-23 02:21] #1 closed

[2016-01-23 14:19] ccordoba12 commented on #1
Nice!!

[2016-01-24 19:30] goanpeca commented on #2
@Nodd since you are the one asking loudly about this, I would like to hear what you would like to see /expect

![image](https://cloud.githubusercontent.com/assets/3627835/12538404/e533b4aa-c2a6-11e5-856c-6cfdf886a157.png)
- What should we expect after selecting 1 or more packages? turn off all action buttons for all rows?
- Make some new buttons appear somewhere?

[2016-01-24 21:34] goanpeca commented on #2
This is one option to avoid extra buttons...

![image](https://cloud.githubusercontent.com/assets/3627835/12539064/25b83724-c2b8-11e5-93a0-be160ff4fb41.png)

I would need to disable the selection for pip if conda selected and viceversa... ? to avoid mixing actions on both tyes at the same time.... (althought this could also be handled...)

Clicking on either one of the icons will result in the act

[2016-01-24 21:52] goanpeca commented on #2
Actually de downgrade button is not very usefull so only remove add or update make sense

[2016-01-24 22:25] goanpeca commented on #2
Here is my proposal:

When an user selects the first package a constraint will be set, so the user can only select after  packages that are also INSTALLED (if the selected was INSTALLED) or that are also NOT_INSTALLED (if the selected was NOT_INSTALLED). Additionally after this first selection the user will only be able to select the package type that is the same, so either CONDA, or PIP, but not

[2016-01-24 22:44] ccordoba12 commented on #2
I think we should leave this out of v0.2. It's complex to define the right UI/UX (as you already mentioned), and not really critical.

As I said before, let's release what we have into the wild and see what users think, instead of adding features only @Nodd has requested so far :-)

[2016-01-24 23:27] goanpeca commented on #2
@ccordoba12 agree with not for v0.2....

But I have a branch with this work as proposed, and I wanted to flesh out some ideas.

The one I proposed before seems to working fine, there is no room for wrong selections :-)

[2016-01-24 23:35] ccordoba12 commented on #2
It's fine to start thinking on this, just not for 0.2 :-)

[2016-01-27 08:38] Nodd commented on #2
For the package managers I know, you first select actions on each package, then you apply all the modifications.
In this case, I'd propose that the three button on the right become togglebuttons/checkboxes, and add a pushbutton somewhere to apply all the preselected modifications. That means that you wouldn't need the checkboxes on the left.
That means that any combination of installing, upgrading

[2016-01-27 08:39] Nodd commented on #1
Beautiful ! Better than in my dreams ! :smile:

[2016-01-27 17:47] goanpeca commented on #2
My dear @Nodd I do not really like the idea of adding a checkbox for each action. Too much checkboxes.... does not look good. I do not like the idea of mixing actions either :-/

I have been thinking about simplifying the buttons to the right... the updgrade downgrade colors and buttons I like but truth is.... it could be simpler. I am thinking of having one button :pencil2: only that displays the

[2016-01-27 20:18] Nodd commented on #2
I didn't suggest to add checboxes, but that the current icons should be selectable. It doesn't add any column, just change the function of the existing ones. Just changing the background color to mark if it's selected or not would be sufficient.
I'm fine with not mixing actions, we'll see if there is demand for it.

Yes, the buttons for upgrade/downgrade.install could be merged, but there should b

[2016-01-27 21:46] goanpeca commented on #2
Ok, my dear @Nodd I think we are converging here, I will make a POC for next week, and I will sign you up as my beta tester :-p.

I have some ideas cooking so I will send you a screenshot or a small video when I have it more fleshed out :-p

[2016-01-29 17:14] zeehio commented on #2
Forgive my intrusion, I am sure you have already checked out what has been done in other package managers but in any case these screenshots may give some ideas...

The synaptic package manager in Debian (and derivatives) works quite well in terms of selecting multiple packages for installation/upgrade/downgrade, providing version and dependency information before installation, etc. I think the att

[2016-01-29 18:51] ccordoba12 commented on #2
I like Rstudio better and I think we should move to use something like that.

@goanpeca?

[2016-01-31 00:51] Nodd commented on #2
Synaptic is indeed one of my references. I've also used smart and yumex.

So in RStudio you select the packages, then click on the isntall pusbutton ? It looks like it's less flexible that synaptic.

[2016-01-31 05:29] ccordoba12 commented on #2
What I like about RStudio and Synaptic is that they have only one button to install/uninstall/update actions. That simplifies the interface a lot.

@goanpeca, what are your thoughts on this one?

[2016-01-31 16:06] goanpeca commented on #2
I like the synaptic way, I will probably make it like that, we just need to agree on where to put the `Apply button`.

Also by having only one button, the code that right now is handling  the `button-like` action icons would be greatly simplified

:+1:

[2016-01-31 17:11] Nodd commented on #2
I'd put the Apply button on the bottom right.

[2016-01-31 23:56] ccordoba12 commented on #2
I think we should remove the columns of install/update/remove buttons and only have them on the top, above the package columns.

[2016-02-01 09:09] Nodd commented on #2
These icons show the status of the package so they can't be simply removed. However they can be merged into one, showing:
- last version installed :white_check_mark:
- installed but upgradable :arrow_up:
- not installed :heavy_plus_sign: (but grey rather than black)

I don't think that downgradable is really useful as long as you can easily access the list of available versions (right click menu).

[2016-02-19 17:06] goanpeca opened #22 "Runnign conda -h is launching the conda manager."
Change entry point in setup.py

[2016-02-25 05:34] goanpeca commented on #2
Ok, @Nodd and @ccordoba12 I have the working gui for this.

![image](https://cloud.githubusercontent.com/assets/3627835/13319432/909e0b46-db8f-11e5-86ab-c107f8f7e57b.png)

And this is after selecting some options on some packages.

![image](https://cloud.githubusercontent.com/assets/3627835/13310821/77a7eea0-db57-11e5-8235-d2170e666150.png)

 I am using the same icons for now.... but we need to di

[2016-02-25 06:35] goanpeca commented on #2
And I finished the actions handling :-), its functional now [here](https://github.com/spyder-ide/conda-manager/pull/25)

Not super pretty... but just to have some feedback...
![image](https://cloud.githubusercontent.com/assets/3627835/13311838/c13012fc-db5f-11e5-9301-cca2999596b3.png)

[2016-02-25 06:39] #22 closed

[2016-02-25 06:39] #6 closed

[2016-02-26 14:25] ccordoba12 opened #26 "Plan for public release"
@goanpeca, what's your plan for releasing Conda manager to the general public?

One thing I think we shouldn't do (at least for a first release) is uploading packages to PyPi. I doesn't make much sense to me.

[2016-02-26 16:28] goanpeca commented on #26
Uploading packages to pypi ?? ?

[2016-02-26 16:42] ccordoba12 commented on #26
You mention in the Readme that you can install conda-manager with `pip`, and there's also a badge about current conda-manager version on PyPi. So I assumed you wanted to pursue that route too (and even more so now that you added pip support to it ;-)

If that's not the case, then any reference to make conda-manager pip installable should be removed before next release.

---

Ok, but discounting th

[2016-02-26 18:24] goanpeca commented on #26
Ahhh ... well the pip package is doable. I have the instructions and it seems to work, so I see no harm there?

Are you happy with the current state of it (functionality-wise?)

[2016-02-29 18:26] #2 closed

[2016-03-02 17:58] #19 closed

[2016-03-08 14:05] Nodd commented on #26
It can not be used as a plugin in spyder before 3.0 is out, maybe you want to take that into account. But since it works standalone teh releases can still be independent.

[2016-03-08 14:16] goanpeca commented on #26
@Nodd can you test it a bit on standalone mode and make any issues relevant to it ? probably I need to hook all the create remove clone enviornments actions.

[2016-03-08 19:26] martindurant opened #32 "Failure to process repodata in py3"
Bytes <-> str issue:

[code]

[2016-03-09 07:12] #32 closed

[2016-03-09 09:58] Nodd commented on #26
Well...

[code]

I don't have PyQt5 installed.

Edit: OK, the qtpy version on pypi is too old, I'll retry with master branch

[2016-03-09 14:28] Nodd opened #34 "Nitpicking is so fun !"
Here are a few details that could be improved:
* "Updating package index" label should have 3 dots: "Updating package index..."
* No action in Environments and Tools seem to have an effect (note that I only have a root env). Mayhe bide them for now ?
* The channels menu is empty, looks like a duplicate for the channels button ? I think i'd prefer keepin the menu rather thant the button, since it's

[2016-03-09 15:17] goanpeca commented on #34
Thanks for the testing @nodd, will get back to you after I have fixed the bugs found

[2016-03-09 16:52] ccordoba12 commented on #26
@Nodd, do you have the latest `qtpy`, i.e. its master branch?

If you're using Anaconda, you can install it with

[code]

[2016-03-09 17:02] goanpeca commented on #34
@Nodd The slow start is with nothing appearing on screen. Or tking too much time to load pacakge listing once the window is displayed?

[2016-03-09 23:01] Nodd commented on #34
Nothing on screen at all. Maybe it's already trying to update the packages before showing the window, i don't know.
In my case the listing is never shown even after more than an hour while the window apears after 10s or so.

[2016-03-09 23:05] Nodd commented on #26
At first I just used the pypi version, but it works with the master branch. I edited my previous message but it looks like it was too late !
Thanks for the conda command, it's easier than having a local repo to update.

[2016-03-09 23:42] goanpeca commented on #34
whaaaaaaaat ?? ?

Ok something is really not working ok

[2016-03-11 10:37] Nodd opened #37 "Slow start"
I profiled the startup with `python -m cProfile conda-manager.py`, and closing the window as soon as it appears. It takes 42s to boot !
Here is the result: https://gist.github.com/Nodd/6a30d6a51d2cdd9d3a02
Notice that a few lines have a cumsum time a little above 40s.

I think that the problem comes from not being able to connect to the remote server because the proxy is not taken into account. Bu

[2016-03-11 10:54] Nodd commented on #34
I created a separate issue for the slow startup.

I tried with last master, it still can't reach the server but at least it lists the installed packages. BTW it displays no error when if the connection can't be made, not good !
 Of course that means that I have a new list of complaints:
- the context menu appears on left click in some columns, and never in the others. What I fell would be more int

[2016-03-11 13:27] goanpeca commented on #37
Well lets try something.

1.) Can you turn off your internet and see what happens on start? (I still need to check offline mode! will do this weekend)
2.) There is info and error logging in a file at `~/.condamanager/logs/condamanager.log` can you check for ERROR messages?

[2016-03-11 13:30] goanpeca commented on #34
Thanks @Nodd

- Channels toggle behavior: Agree, can you open a separate issue for this issue?
- Install specific version: Agree can you open a separate issue for this?
- Context menu clicks: Agree can you open a separate issue for this?
- Pressing escape: Agree can you open a separate issue for this?

[2016-03-11 13:38] goanpeca commented on #34
BTW, I guess you have your proxy settings configured on the condarc file?

[2016-03-14 14:14] goanpeca commented on #37
@nodd I guess you have your proxy settings configured on the `.condarc` file?

Anaconda client, which seems to be the one stuck, is based on **requests** (like conda) which uses env variables to configure the proxy... something like

[code]

Anaconda-client, Unlike conda it does not use settings in `.condarc` file

[2016-03-16 11:12] Nodd commented on #37
Here is the log:
[condamanager.txt](https://github.com/spyder-ide/conda-manager/files/175797/condamanager.txt)

Yes, I configured the proxy in `.condarc`. I thought that on windows request would take the proxy value configured in the system.

I tried to set the env variables by it didn't change anything. Maybe I did something wrong because I'm on windows.

[2016-03-16 11:13] Nodd opened #40 "Toggle Channels"
A click on the channels button should toggle the subwindow, not redisplay it.

(from #34)

[2016-03-16 11:14] Nodd opened #41 ""Install specific version" submenu hidden"
"Install specific version" submenu should be disables instead of hidden when there are no other version. It makes the menu more consistent between packages. Note that since I can't connect, I have no package with another version so it might be a side effect here.

(from #34)

[2016-03-16 17:02] goanpeca opened #42 "Add error msgbox on error!"

[2016-03-16 17:02] goanpeca opened #43 "Maintain selected view on combobox"

[2016-03-18 08:24] Nodd opened #45 "Context menu"
the context menu appears on left click in some columns, and never in the others. What I fell would be more intuitive is that the menu should appear on a right click in any column, and on the left click in the checkbox column only (in addition to the right click)

(from #34)

[2016-03-18 08:25] Nodd opened #46 "Clear search field"
Pressing Esc in the search field should clear the search filter. Maybe add a button too ?

(from #34)

[2016-03-18 08:26] Nodd commented on #34
I created the separate issues.

[2016-03-23 10:22] Nodd commented on #37
It now starts within 1 second. You just disabled the update on startup, right ? I think it's better that way, yumex (the interface for yum on centos) updated every time and it's a pain.

[2016-03-30 20:24] goanpeca opened #56 "Log consistency"
From @csoja

[2016-03-30 20:26] #42 closed

[2016-03-30 20:26] #41 closed

[2016-03-30 20:26] #26 closed

[2016-03-30 20:34] goanpeca commented on #46
Fixed in latest release

[2016-03-30 20:34] #46 closed

[2016-03-30 20:34] goanpeca commented on #45
Fixed in latest release (0.3.0)

[2016-03-30 20:34] #45 closed

[2016-03-30 20:34] goanpeca commented on #43
Fixed on latest release

[2016-03-30 20:34] #43 closed

[2016-03-30 20:54] goanpeca opened #57 "Add a way to select all for updates"
Add a button (Update all) to run **`conda update --all --prefix PREFIX`**

[2016-04-04 17:43] goanpeca opened #58 "conda-manager download is not downloading if file is found. Size check is not working!"
After installing anaconda into the python3.5 environment - I checked and it would allow me to downgrade to a number of different versions - but did not have the option to upgrade to 4.0. v4.0 wasn't listed anywhere. I also then checked my root 2.7 environment - it already had Anaconda installed - but also did not have the option to upgrade to 4.0. The latest version in the root environment was als

[2016-04-04 19:19] Nodd opened #59 "Conda manager doesn't have the right icon on the Windows taskbar"
I just installed conda-manager with conda. On windows (I didn't check on Linux), it has the same icon as spyder, is it normal ? I would expect a different icon for the standalone application.

[2016-04-04 19:20] #37 closed

[2016-04-04 19:23] Nodd opened #60 "Ask for update on first start"
On first startup, conda-manager should propose to update the package index. To a new user it can be strange to not see any package to install.
I think it's better that updating automatically, but I'm a bit biased here since in my case it resulted in a very slow startup...

[2016-04-04 19:25] Nodd opened #61 "Clear search icon"
The icon to clear the search is just a gray square. It is functionnal, it highlights correctly, but the icon is wrong.

[2016-04-04 19:31] Nodd opened #62 ""Update package index..." button width"
The button width for "Update package index..." is a bit too narrow, the text just fits without any margin.

![button_width](https://cloud.githubusercontent.com/assets/506348/14260541/54be1044-faac-11e5-9a45-13272ce503fc.PNG)

This is on Windows 10.

[2016-04-04 19:32] Nodd opened #63 "Template for "Report issue""
A template would be useful for the "Report issue" action.

It's just a reminder, not a priority.

[2016-04-04 19:39] Nodd opened #64 "Clicking on empty space shows context menu"
Clicking on an empty space in the list view displays a context menu (for both right and left click), while it should just hide the current context menu and never open a new one. The contrext menu should be opened on a package line exclusively.

[2016-04-04 19:41] Nodd opened #65 "Marking a package and other actions"
When a package is marked for update or removal, its only remainig option is unmark. If a package is upgradable, and I mark it for removal, I should be able to mark it as updatable in one action, without having to unmark it in between (same for the other way around).

[2016-04-04 19:42] Nodd commented on #64
When showing updatable packages only, it's common to have an empty space.

[2016-04-04 19:43] Nodd commented on #64
The context menu for left click is shown only if the check colomn was left-clicked first.

[2016-04-04 19:47] Nodd opened #66 "Right click context menu and mark"
It is suprising to me that you can't mark an item in the right click menu. I would set  the current right clic menu as an info submenu in the current left click context menu, and alway  display the left click menu.
This way all the actions are always available and the most used ones (marking) are easier to use.
I'd keep the current behavior for displaying the context menu: always on right clic and

[2016-04-04 19:52] Nodd opened #67 "Left click on upgrade icon"
To mark a package to update, my first try was to left-click on the blue up arrow, byt it does nothing.
I see 2 solution:

1. A left click on the version column of an upgradeable package should mark the package to be upgraded to the mosts recent version (without dislaying the menu)

2. Change the up arrow icon so that it looks less like a button, and more like a simple arrow.

[2016-04-04 19:54] Nodd opened #68 "unmark not on top"
Unmark is possibly the least used option of all marking options, it should be at the bottom instead of the top. The order of the other buttons is fine.

[2016-04-04 19:57] Nodd opened #69 "Idea: merge mark for update and choose version submenu"
I don't know if itt's feasible with qt, but the idea is that the version submenu should be displayed when hovering the update entry. Clicking on the update entry would still mark the last version to be installed.

I'm not sure that it's discoverable enough or even if it's really useful in practice. You decide !

[2016-04-04 20:01] Nodd opened #70 "Use checkmarks instead of disabling items in the context menu"
Instead of disabling unavailable and the current checked item, only the unavailable actions should be disabled (like removal for a package not installed).the other options should be all enabled and the chosen option would be marked with a ckeckmark. By default, unmarked would be checked.
I think this will even simplify the code a little bit since you'll have less enable/disable to manage.

[2016-04-04 20:01] Nodd commented on #65
Same goes for installing a different version.

[2016-04-04 20:05] Nodd opened #71 "Showing download progress and overall progress"
Showing download progress for each package and overall progress (in 2 status bars) would really help for knowing what happens. Right now the status bar changes flicks between a real progressbar and a progress bar with unknown progress (going continuousely from left to right).

[2016-04-04 20:10] Nodd opened #72 "More packages modified that advertised"
I just updated numpy and python-dateutil, but int he progress were also shown pandas and matplotlib, did not appeare in the confirmation dialog. I feels really really bad because conda-manager may be doing unwanted things on my back;

One thing I like in synaptics package manager is that it shows a console displaying stdout and strerr of the install process. This is reassuring because I see the pr

[2016-04-04 20:14] Nodd opened #73 "Scrolling the list is a bit slow"
Scrolling the package lisk doesn't feel fluid, I don't know if it can be optimised. Maybe is it because of all the icons displayed (which are very useful, don't remove them!).

A question: lots of icons are the same ones, but are they all different instances or is it always the same QIcon used ?

[2016-04-04 20:45] ccordoba12 commented on #59
No, but the fix is very simple :-)

[2016-04-04 20:45] ccordoba12 commented on #59
I'll do it.

[2016-04-04 20:47] goanpeca commented on #73
hi @nodd the lack of responsiveness is probably due to the resizing. are you using mouse or page up page down

[2016-04-04 20:49] goanpeca commented on #72
this is by design. an intermediate step would be to check the actions when clicking on apply and displaying the actual packages to be installed. conda is so slow that my concern is the waiting time of that action.

[2016-04-04 21:36] Nodd commented on #73
It happens when I continuousely press page up/down or drag the scrollbars with the mouse. The effect is very limited when I use the mousewheel.

Don't spend too much time on it, the effect is very minor and doesn't affect usability at all. WHan jumping quickly by draggint the scrollbar there is a freeze of 1s at worst.

[2016-04-04 21:39] Nodd commented on #72
Maybe a 2-step verification ? First display what the user selected, then what will be modified. If the additionnal packages are added to the window asynchronousely (while the suer checks that what he asked is correct).

In the meantime, there has to be a warning that additionnal modification may be applied to satisfy the dependancies. Right now the changes are completely hidden and for me it's rea

[2016-04-07 19:50] Nodd opened #74 "Can't update"
I had 4 packages to update, but the update process (after the confirmation window) didn't do anything, it went directly from setup to updating package list. No error is reported in the UI, nothing is the console either.
I updated the packages from conda without any problem.
I have v3.5.1 installed with conda from the spyder channel.

[2016-04-10 16:34] goanpeca commented on #67
Yes, @Nodd I agree, I did not manage to make the icon change on time for the [release](https://docs.continuum.io/anaconda/navigator).

Will apply option #2

[2016-04-10 16:35] goanpeca commented on #71
Two status bars seems like too much for my taste....

[2016-04-10 16:37] goanpeca commented on #68
@Discalced51 what do you think?

[2016-04-10 16:39] goanpeca commented on #69
@Nodd, probably through some hacking, but it is not standard Qt behaviour and not standard UI behaviour, so :-1:.

[2016-04-10 16:39] #69 closed

[2016-04-10 16:40] goanpeca commented on #67
Although I actually like option # 1.

@Discalced51 what do you think, you had some concerns when I raised this?. Being able to click on the Update arrow that appears when updates are available and having the package marked for Update. Of course the arrow icon in Navigator does not convey the push me message, but it could.

[2016-04-10 16:43] goanpeca commented on #74
Can you check the error.lo ? inside **~/.condamanger** ?

[2016-04-10 16:48] goanpeca commented on #60
You case was particular and not really related to that case. Just to confirm, after start-up how long does it take for the list to update? with a ok internet connection (4mps) it should be around 3-4 seconds. Anything appreciably longer than that is a problem.

I did not do anything in particular to address your problem. Not updating on start was a side effect of something I had to do to make it m

[2016-04-10 16:49] goanpeca commented on #61
Yes indeed, need to fix!

[2016-04-10 16:50] goanpeca commented on #40
I don't see this behaviour happening...

[2016-04-10 16:50] goanpeca commented on #57
What do you think of having a dedicated button just for this action @discalced51?

Where should it go?

[2016-04-10 16:53] goanpeca commented on #65
I guess... @Discalced51 what do you think?

[2016-04-10 16:54] goanpeca commented on #66
I dont understand @Nodd

[2016-04-10 16:55] goanpeca commented on #70
This is needed if we want to go along your other suggestion on not disabling items after having selected one option.

Not entirely convinced yet.

@Discalced51 what do you think?

[2016-04-10 18:24] goanpeca commented on #59
@ccordoba12 I would like to get this in the release for this coming Thursday 14th of April

[2016-04-10 18:45] Nodd commented on #70
It's the other way out: not disabling items is needed for using checkmarks, but you can not disable items without checkmarks since the status is shown by the icon.

[2016-04-10 18:48] Nodd commented on #74
I think it's because of the xz package which can not be updated right now. The update fail silently without any feedback at all.

[2016-04-10 18:50] Nodd commented on #68
For my information, who is @Discalced51 ? I guess it's someone from continuum working on the new navigator ?

[2016-04-10 18:51] goanpeca commented on #68
@Nodd, can you go to gitter?

[2016-04-10 18:52] goanpeca commented on #74
If you can post a reproducible env (conda list) and the action you took to display this error I can try to fix it, ok?

[2016-04-10 18:55] Nodd commented on #71
Not sure about it either but conda-manager is definitely lacking feedback about what is happening on the user's harddrive. I personally prefer having access to the stdout of the process, this is another option.

Some package manager have a separate progressbar for each package, like ninite (and at least another that I can't remember from the top af my head).

[2016-04-10 18:58] goanpeca commented on #71
Hmmm any solution to this problem will require major work, like displaying progress inline (inside the table view). The fastest would probably be getting the stdout output of conda.

Conda is not very good at giving you overall feedback, it gives feedback based on steps, download, link unlink etc... but there is no Global sequence of steps so that at least we could know on what overall step conda

[2016-04-11 02:54] #67 closed

[2016-04-11 02:54] #58 closed

[2016-04-14 03:18] #59 closed

[2016-04-14 16:56] goanpeca opened #82 "Create packages for 3.4"

[2016-04-14 16:57] #82 closed

[2016-04-19 16:54] goanpeca opened #83 "Create documentation for project"

[2016-05-14 13:58] Nodd opened #85 "local variable 'actions' referenced before assignment"
## Description

- *What steps will reproduce the problem?*
No idea, I just saw an exception in the console after closing the program.

- *What is the expected output? What do you see instead?*
I see this in the conole:
[code]

- *Please provide any additional information below*
I guess that `QSortFilterProxyModel` is just a warning unrealted to the traceback.

## Version and main components

conda

[2016-07-07 08:37] Nodd opened #89 "Install packages with pip"
conda-manager can list and remove packages installed with pip, but can not install them.

See https://github.com/spyder-ide/spyder/issues/3280

[2016-07-07 12:10] goanpeca commented on #89
:+1:

http://stackoverflow.com/questions/12332975/installing-python-module-within-code

[2016-07-07 12:43] Nodd commented on #89
BTW you'll need to handle proxies...

[2016-09-05 14:38] astrofrog opened #92 "Purpose of options button"
At the moment, the button in the top right doesn't seem to do anything (and looking at the code, it's not connected to any callback function). Can it be removed?

[2016-09-05 14:39] astrofrog opened #93 "Wrong environment"
When starting up ``conda-manager`` as a standalone app, the environment is set to **root** even if I start up conda-manager from another environment. It would be nice to be able to auto-detect the environment, and also optionally to allow the user to change environment.

[2016-09-05 14:42] astrofrog commented on #89
👍

[2016-09-05 15:19] goanpeca commented on #93
Hi @astrofrog, sure, will change this. This codebase was a bit abandoned for a while, so I need to do a big code refactor

[2016-09-05 15:20] goanpeca commented on #92
Hi @astrofrog, yes, the idea of that button if when it is used as a plugin within spyder to handle "advanced" things, but for standalone usage it is indeed a bit useless :-)

[2016-10-04 13:00] tienhv opened #95 "[Question] How to use conda-manager inside Spyder?"
Hi, I installed Spyder 3 and conda-manager via `conda`. So how should I do to call it inside Spyder?
I had checked the menu, one-by-one to make sure I do not miss any thing and cannot find any idea how to do it.
Thanks.

[2016-10-04 14:41] goanpeca commented on #95
Hi @tienhv there is work pending dfor a new release compatible with the latest spyder version. Should be available in a couple of weeks. Thanks for your patience.

[2017-01-16 01:38] goanpeca opened #99 "Update AppVeyor badge because of move to org account"

[2017-01-23 13:16] Chimsom opened #100 "conda-manager"
Please help...
I installed the conda-manager via the conda command prompt, but I don't know how and where to run the program to get the app interface.

[2017-01-23 13:19] Chimsom commented on #100
how do get the app interface after installation?

[2017-01-23 13:22] ccordoba12 commented on #100
You should get it by running in a terminal

    conda-manager

[2017-01-23 14:16] Chimsom commented on #100
Not working still...
I tried reinstalling it from the same terminal, but the results say its already installed...

![image](https://cloud.githubusercontent.com/assets/25299235/22207226/f5c2a948-e186-11e6-8ed3-b5ec17506a56.png)

![image](https://cloud.githubusercontent.com/assets/25299235/22207296/46a357fe-e187-11e6-8819-8daaee755655.png)

[2017-01-23 15:12] goanpeca commented on #100
@Chimsom I recommend you use [anaconda navigator](https://docs.continuum.io/anaconda/navigator) this project will become a spyder plugin only and not a stand alone program. Navigator already provides the needed functionality.

[2017-01-26 11:55] Chimsom commented on #100
Thank you very much @goanpeca Navigator was working well until today. It is no longer launching from windows menu. Using the terminal gave me the error report below:
![image](https://cloud.githubusercontent.com/assets/25299235/22330462/08de988a-e3cf-11e6-971e-a3006d04aee0.png)
Thanks for the help again!

[2017-01-26 15:13] goanpeca commented on #100
Please use

[code]

[2017-01-26 15:14] goanpeca commented on #100
I highly recommend you to install anaconda for the current user and not all users

[2017-02-24 21:57] kmalyar commented on #100
That's really disappointing.

[2017-05-24 11:24] carlfischerjba opened #101 "Channel editor breaks channels starting with file://"
I have a channel hosted on an internal company server which I use on Windows. It's listed in .condarc as `file://\\my_server/development/conda_packages` although I believe it was added via `conda config --add channels \\my_server\development\conda_packages`.

Conda-manager doesn't like this channel and insists on prefixing it with `https://conda.anaconda.org/` which breaks it.

Based on the conda

[2017-05-24 13:40] ccordoba12 commented on #101
Sorry but this plugin has not been updated in a long time. We plan to fix that in a couple of months.

[2017-08-14 00:17] aperep commented on #37
Could you specify how to disable the update on startup, please?

[2017-12-12 10:06] ronario commented on #95
Hello guys,
Was this issue resolved? Because I am having the same issue locating conda-manager in spyder 3.2.4 after running conda install conda-manager in windows 7?
Thanks,

[2017-12-12 19:40] ccordoba12 commented on #95
Nop, conda-manager hasn't been updated to work with the latest Spyder, sorry.

[2020-10-29 19:51] pllim opened #102 "MNT: Stop using ci-helpers in appveyor.yml"
To whom it may concern,

If you are using https://github.com/astropy/ci-helpers in your appveyor.yml , please know that the Astropy project has dropped active development/support for Appveyor CI. If it still works, good for you, because we did not remove the relevant files (yet). But if it ever stops working, we have no plans to fix anything for Appveyor CI. Please consider using native Windows su

[2021-03-30 10:53] s-m-e opened #103 "Optional integration of `mamba`?"
With [mamba](https://github.com/mamba-org/mamba), there is now a much faster drop-in-replacement for `conda`. There is now also a [flavor of miniforge with mamba as the default package manager](https://github.com/conda-forge/miniforge#mambaforge).

From what I can see in your code, the `conda` command is hard-coded. Could this be made configurable so that a user could switch to `mamba`? The CLI re

[2021-03-30 18:19] CAM-Gerlach commented on #103
Unfortunately, this project has been unmaintained for the past 5 years, and I'm not sure its actively used anymore. We eventually hope to integrate similar functionality in Spyder, perhaps with Spyder 6, and so long as `mamba` is API-compatible, Spyder could potentially prefer mamba if it is present on the `PATH` or otherwise easily accessible. But that's still pretty hypothetical at this point, s